﻿@model examinationEsdp.Models.InstitutionViewModels.CreateInstitutionViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create";
}
<h2>Добавить заведение</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Institution" asp-action="Create" asp-route-userName="@UserManager.GetUserName(User)" method="post" enctype="multipart/form-data">
            <div class="col-md-12 form-group">
                <label asp-for="NameInstitution"></label>
                <input asp-for="NameInstitution" class="form-control" />
                <span asp-validation-for="NameInstitution" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="TypeOfInstitutionId">Выберите группу</label>
                <select asp-for="TypeOfInstitutionId" asp-items="ViewBag.GroupModel"></select>
                <span asp-validation-for="TypeOfInstitutionId"></span>
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" style="min-width: 200px; max-width: 500px; min-height: 100px; max-height: 200px"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="ImageUrl">Логотип</label><br />
                <input asp-for="ImageUrl" onclick="ClickRemoveElement()" onchange="ValidateSingleInput(this, 'image/png', 500)" type="file" name="Logo" accept="image/*" />
            </div>
            <div class="col-md-12" style="margin-top: 30px">
                <button type="submit" class="btn btn-default">Создать</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    @Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/site.js"></script>
    <script>
        $('#addDynamicExtraFieldButton').css({ "margin": "5px 0px" }).click(function (event) {
            addDynamicExtraField();
            return false;
        });

        function addDynamicExtraField() {
            var div = $('<div/>', {
                'class': 'DynamicExtraField'
            }).appendTo($('#DynamicExtraFieldsContainer')).css({ "margin": "15px 0px" });
            var input = $('<input/>', {
                value: 'Удаление',
                type: 'button',
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div);
            var label = $('<label for="dropDownList">Тип поля</lable>', {
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-row" });
            var dropDownList = $('<select id="dropDownList" name="fieldType"><option value="number">Числовое</option><option value="text">Текстовой</option></select>').
                appendTo(div).css({ "display": "table-cell" });
            var label = $('<label for="inputForName">Название поля</lable>', {
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-row" });
            var inputForName = $('<input id="inputForName" name="fieldName" type="text" required />', {
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-cell" });
            var label = $('<label for="inputForLentgh">Ограничение на длинну вводимого значения</lable>', {
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-row" });
            var inputForLentgh = $('<input required id="inputForLentgh" name="fieldLenghtData" type="number" min="1"/>', {
                'class': 'DeleteDynamicExtraField'
            }).appendTo(div).css({ "display": "table-cell" });
            input.click(function () {
                $(this).parent().remove();
            });
        }

        $('.DeleteDynamicExtraField').click(function (event) {
            $(this).parent().remove();
            return false;
        });

        function SetAmountOfRestrictionInfiniteValue() {
            if ($('#isInfinite').prop("checked")) {
                $('#AmountOfRestrictionValue').css('visibility', 'hidden');
            }
            else {
                $('#AmountOfRestrictionValue').css('visibility', 'visible');
            }
        }
    </script>
}


