﻿@model examinationEsdp.Models.InstitutionViewModels.InstitutionPagingViewModel
@{
    ViewData["Title"] = "Список заведений";
}
<div class="row">
    @foreach (var istitution in Model.Institution)
    {
        <a asp-controller="Institution" asp-action="RevievInstitution" asp-route-istitutionId="@istitution.NameInstituon.Id">
            
            <div class="col-sm-3 text-center" >
                @foreach (var institutionViewModel in istitution.Image)
                {
                    <div class="text-center">
                        <img src="@institutionViewModel.FileUsl" width="100" height="100" />
                    </div>
                }
                @istitution.NameInstituon.Name
                @foreach (var Rating in istitution.Rating)
                 {
                    <label>@Rating.Rating</label>
                 }
            </div>
        </a>
    }
</div>
       
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
