﻿@model examinationEsdp.Models.InstitutionViewModels.RevievInstitutionVievModel
@{
    ViewData["Title"] = "RevievInstitution";
}

<div class="row">
    <h1>@Model.Name</h1>
    <div class="col-sm-2" style="max-width: 600px; min-width: 300px; height: 250px; word-wrap: break-word">
        @Model.Description
    </div>
    <div style="float: right; display: block;">
        <img src="~/@Model.ImageUrl.FirstOrDefault().FileUsl" max-width="550" height="250" />
    </div>
    <div class="col-sm-12" >
        <h2>Galerea</h2>
        <div class="text-center">
            @foreach (var sss in Model.ImageUrl)
            {
                <div class="col-sm-1">
                    <img src="~/@sss.FileUsl" width="50" height="50" />
                </div>
            }  
        </div>
    </div>
</div>
<div>
    @foreach (var message in @Model.Review)
    {
        <span>@message.UserId</span>
        <span>@message.Message</span>
    }
</div>
<form asp-controller="Institution" asp-action="AddPost" method="post" asp-route-userName="@User.Identity.Name">
    <div class="col=sm-12" style="display: block">
        <h2>Добавить отзыв</h2>
        <input type="hidden" asp-for="@Model.Name"/>
        <textarea asp-for="@Model.ReviewMessage" style="min-width: 200px; max-width: 500px; min-height: 100px; max-height: 200px"></textarea>
        <br/>
        <select asp-for="@Model.Rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <button type="submit">Добавить</button>
    </div>
</form>


